<nav class="navbar">
  <div class="navbar-left">
    <a routerLink="/home">
      <img src="assets/profile.ing.png" alt="Logo" class="logo">
    </a>
  </div>

  <div class="navbar-right">
    <div class="profile" (click)="toggleMenu()">
      <h5 class="profile-avatar">A</h5>
    </div>
    <div *ngIf="isOpen$ | async" class="dropdown-menu">
      <div class="profile-info">
        <p class="profile-avatar">A</p>
        <span class="profile-name">Ahmeth Mbaye</span>
        <span class="badge-free">Gratuit</span>
      </div>
      <div class="theme-options">
        <button class="theme-option"><i class="fas fa-adjust"></i> Thème de l'appareil</button>
        <button class="theme-option"><i class="fas fa-moon"></i> Thème sombre</button>
        <button class="theme-option"><i class="fas fa-sun"></i> Thème clair</button>
      </div>
      <ul>
        <li><a routerLink="/profile"><i class="fas fa-user"></i> Profil</a></li>
        <li><a routerLink="/account"><i class="fas fa-cog"></i> Compte</a></li>
        <li><a routerLink="/help"><i class="fas fa-life-ring"></i> Centre D'aide</a></li>
        <li><a routerLink="/feedback"><i class="fas fa-comment-dots"></i> Retour d'information</a></li>
        <li><a routerLink="/news"><i class="fas fa-newspaper"></i> Nouveautés</a></li>
        <li><a routerLink="/logout" class="logout"><i class="fas fa-sign-out-alt"></i> Se déconnecter</a></li>
      </ul>
    </div>
  </div>
</nav>
