
   .main-container {
    background-color: hsl(240, 33%, 97%);
    height: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    
  }
  
  .button-container {
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: -20%;
    
  }
  
  /* .but {
    background-color: rgb(9, 195, 241);
    color: rgb(235, 21, 21);
  } */
  
  .card-section {
    margin-top: 70px;
    display: flex;
    gap: 20px;
  }
  
  .card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .card h3 {
    margin-top: 0;
  }
  
  .card a {
    color: rgb(34, 200, 241);
    text-decoration: none;
  }
  
  .card a:hover {
    text-decoration: underline;
  }
  
  .toolbar {
    position: absolute;
    top: 50px;
    right: 10px;
    display: flex;
    gap: 10px;
  }
  
  .mat-icon-button {
    background-color: white;
    border-radius: 4px;
    padding: 8px;
    
  }
  
  .mat-icon-button:hover {
    background-color: white;
  }
  
  .icon-container {
    display: flex;
    align-items: center;
  }
  
  .form-list {
    margin-top: 30%;
    text-align: center;
  }
  
  .img {
    height: 10vh;
  }
  .f {
    text-shadow: 20px;
    margin-left: 40px;
    margin-top: 5%;
    font-size: 20px;
    font-weight: bold;
  }
  .bac{
    background-color: white;

  }
  




  /* form-list.component.css */

.main-container {
  position: relative;
  width: 100%;
  height: 100%;
  
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  margin-left: 100px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour l'overlay */
  z-index: 1000; /* Assure que l'overlay est au-dessus du reste du contenu */
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
  position: relative;
  width: 80%; /* Ajustez la largeur selon vos besoins */
  max-width: 800px; /* Définissez une largeur maximale si nécessaire */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #aaa;
}

.close:hover {
  color: #000;
}



.custom-button {
  background-color: #3f51b5; /* Couleur de fond */
  color: white; /* Couleur du texte */
}

.custom-button:hover {
  background-color: #303f9f; /* Couleur de fond au survol */
}







.mat-dialog-container {
  position: absolute !important;
}


.toolbar {
  display: flex;
  align-items: center;
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  transition: width 0.3s ease;
}

.search-wrapper button,
.search-wrapper mat-form-field {
  transition: opacity 0.3s ease;
}

.search-wrapper.searching {
  width: 150px; /* Ajustez cette valeur selon vos besoins */
  height: 1px;
  background-color: white;
  margin-top: 10%;
}

.search-wrapper button {
  opacity: 1;
}

.search-wrapper.searching button {
  opacity: 10;
}

.search-wrapper mat-form-field {
  width: 0;
  opacity: 0;
}

.search-wrapper.searching mat-form-field {
  width: 100%;
  opacity: 1;
}

mat-form-field {
  margin: 0;
}



.filter-menu {
  position: absolute;
  top: 100%;
  left: -10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 8px;
  z-index: 1000;
}



.sort-menu {
  position: absolute;
  top: 50px; /* Ajuster cette valeur si nécessaire */
  left: -800px;
  display: flex;
  width: 1100px;
 
  border-radius: 4px;
  padding: 3px;
  z-index: 1000;
  
}



mat-list-option {
  display: flex;
  align-items: center;
}

mat-radio-button {
  margin-right: 8px;
}
.yellow-icon {
  color: yellow;
}

.red-icon {
  color: red;
}

.grey-icon {
  color: grey;
}

.green-icon {
  color: green;
}

.orange-icon {
  color: orange;
}

.blue-icon {
  color: blue;
}

.black-icon {
  color: black;
}
mat-icon{
  color: #000;
}



.sort-menu-item {
  display: flex;
  align-items: center;
  gap: 10px; 
  padding: 10px;
  width: 100%;
  text-align: center;
  border: none;
  background: none;
}

.sort-menu-item:hover {
  background-color: white;
}

.mat-checkbox {
  margin-right: 10px; 
}